* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 400;
}

body {
    background-color: #062a4e;
    font-family: "Outfit", sans-serif;
    color: #fff;
}
