* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 400;
}

body {
    background-color: #062a4e;
    font-family: "Outfit", sans-serif;
    color: #fff;
}

.header {
    color: #fff;
    padding: 30px;

    &__logo {
        font-size: 28px;
    }
}

.quiz-container {
    padding: 20px;
    text-align: center;
    height: 100vh;

    .quiz-progress {
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.8);
        border-radius: 12px;
        display: inline-block;
        padding: 12px 45px;
        margin: 20px 0;
        font-size: 18px;
    }

    &__heading {
        color: #ffc600;
        font-size: 36px;
    }

    &__question {
        margin-top: 16px;
    }

    &__options-body {
        background: #f4f4fc;
        color: black;
        border-radius: 10px;

        .quiz-options {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 20px;

            li {
                margin: 20px;
                background-color: white;
                // box-shadow: 3px 3px 4px #ffc600;
                box-shadow: 4px 4px 4px rgba($color: #062a4e, $alpha: 0.6);
                padding: 12px;
                border-radius: 20px;
                text-align: center;
                cursor: pointer;
            }

            .disabled {
                pointer-events: none;
            }

            .correct {
                background-color: lightgreen;
                // box-shadow: 3px 3px 4px lightgreen;
                box-shadow: none;
            }

            .incorrect {
                background-color: tomato;
                // box-shadow: 3px 3px 4px tomato;
                box-shadow: none;
            }
        }
    }

    &__next-button {
        outline: none;
        width: 100%;
        border: none;
        padding: 16px 50px;
        margin-top: 42px;
        border-radius: 20px;
        background-color: #ffc600;
        cursor: pointer;
        font-weight: bold;
    }
}
