* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 400;
}

body {
    background-color: #062a4e;
    font-family: "Outfit", sans-serif;
    color: #fff;
}

.header {
    color: #fff;
    padding: 30px;

    &__logo {
        font-size: 28px;
    }
}

.quiz-container {
    padding: 20px;
    text-align: center;
    height: 100vh;

    .quiz-progress {
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.8);
        border-radius: 12px;
        display: inline-block;
        padding: 12px 45px;
        margin: 20px 0;
        font-size: 18px;
    }
    &__heading {
        color: #ffc600;
        font-size: 36px;
    }

    &__question {
        margin-top: 16px;
    }

    &__options-body {
        background: #f4f4fc;
        color: black;
        border-radius: 10px;
        height: 420px;

        .quiz-options {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 20px;

            li {
                margin: 20px;
                background-color: white;
                box-shadow: 4px 6px 5px lightgrey;
                padding: 12px;
                border-radius: 20px;
                text-align: center;
                cursor: pointer;
            }

            li:hover {
                // DESKTOP
                box-shadow: 3px 3px 4px #062a4e;
            }

            .disabled {
                pointer-events: none;
            }

            .correct {
                background-color: lightgreen;
                box-shadow: none;
            }

            .incorrect {
                background-color: tomato;
                box-shadow: none;
            }
        }
    }

    &__hint-icon {
        cursor: pointer;
        margin: 20px auto;
    }

    &__hint-content {
        display: none;
        color: #000000;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(#1b6898, 0.5);
        border-radius: 12px;
        padding: 10px;
        margin: 20px auto;
        width: 100%; // Change on desktop view
    }

    &__next-button {
        outline: none;
        width: 100%;
        border: none;
        padding: 16px 50px;
        margin-top: 30px;
        border-radius: 20px;
        background-color: #ffc600;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
    }

    &__congratulations {
        display: none;

        .congratulations__text {
            font-size: 16px;
            margin: 40px 0;
        }

        .score {
            // background-color: rgba($color: #1b6898, $alpha: 0.6);
            background-color: #1b6898;
            // box-shadow: 3px 3px 4px #1b6898;
            padding: 12px;
            border-radius: 6px;
        }

        .congratulations__play-again-button {
            outline: none;
            width: 100%;
            border: none;
            padding: 16px 50px;
            border-radius: 20px;
            background-color: #ffc600;
            cursor: pointer;
            font-weight: bold;
            font-size: 14px;
        }
    }
}

.hint-popover-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .hint-popover {
        background-color: #ffc600;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (min-width: 768px) {
    .quiz-container {
        &__options-body {
            &__quiz-options {
                li:hover {
                    // DESKTOP
                    box-shadow: 3px 3px 4px #ffc600;
                }
            }
        }
    }
}
